<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TfsServer" value="http://wtfsdg01:8080/tfs"/>
    <add key="AppDev" value="c691e3e2-3a2b-49a3-ae56-57dcb0667676"/>
    <add key="QueryPath" value="My Queries/Green - Sprint20140602_Tasks_List"/>
    <!--<add key="QueryPath" value="Shared Queries/Green Team/zGreen - Closed Bugs in last 2 days"/>-->
    <!--<add key="QueryPath" value="Shared Queries/My Tasks"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>