<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TfsServer" value="http://wtfsdg01:8080/tfs"/>
    <add key="AppDev" value="c691e3e2-3a2b-49a3-ae56-57dcb0667676"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
